/* 
Use for full screen unresponsive image
 */
/* 
html { 
  background: url(../images/front-page-cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

body {
	margin: 0px 0px 0px 0px;
}

.header-cover {
    background-image: url('../images/front-page-cover-1.jpg');
    background-repeat: no-repeat;
    background-position: 55% 50%;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
}

.cover-bold {
	font-family: 'Poppins', sans-serif;
	padding: 400px 0 5px 0;
	font-size: 50px;
	color: white;
}

.cover-normal {
	font-family: 'Poppins', sans-serif;
	padding: 0 0 120px 0;
	max-width: 260px;
	font-size: 16px;
	color: white;
}

.jumbotron-custom-text {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	padding: 40px 0px 40px 0px;
}

.jumbotron-custom {
	margin: 0px 0px 0px 0px;
}

.footer {
	padding: 30px 0px 30px 0px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 2.6;
	background-color: #382E1C;
}

.heart {
	color: red;
}

.footer-text {
	color: rgba(255,255,255,0.4);
}